<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="myFirstSuite">
<test name="myFirstTest">
<classes>
	<class name="com.testcodes.AlertPopUp"/>
	<class name="com.testcodes.AlertPrompt"/>
	<class name="com.testcodes.CompleteIDDynamic"/>
	<class name="com.testcodes.DynamicEndsWithAndSubmit"/>
	<class name="com.testcodes.DynamicStartWithAndSubmit"/>
	<class name="com.testcodes.FirstSignUpPage"/>
	<class name="com.testcodes.SignInPage"/>
</classes>
</test>
</suite>